[flake8]
ignore = E501, E731, E741, W504, W503, E126,E125, E402, E722, F821
max-line-length = 79
show-source = False
application-import-names = diffusion
exclude =
    .git
    docs
    venv
    build
    env
    log
    dist
	*.egg-info
	__pycache__
